package main

templ index(name string) {
	<html>
		<head>
			<title>Go Web</title>
		</head>
		<body>
			<h1>Hello { name }</h1>
			<p>Go Web is a simple web framework for Go.</p>
		</body>
	</html>
}
