{{ if isset .Site.Params "highlight" }}<script src="{{ .Site.BaseUrl }}/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>{{ end }}
{{ with .Site.Params.googleAnalytics }}
<script>
  var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{{ end }}
<script type="text/javascript">
  (function() {
   var s = document.createElement('script');
   var popupId = "1405135147462817";
   window.megaphonePopupId = popupId;
   window['mpPopupUrl' + popupId] = "http://o4kmjc5e.megaph.com/?popup=true";

   s.type = 'text/javascript';
   s.async = true;
   s.src = '//megaphoneapp.global.ssl.fastly.net/assets/embedded_popups.js';
   var x = document.getElementsByTagName('script')[0];
   x.parentNode.insertBefore(s, x);

   })();
</script>


</body>
</html>
