<div class="topbar topbar-small">
  <div class="color-overlay"></div>
  <div class="container">
    <div class="title">
      <h1>CODE GANGSTA</h1>
    </div>

    <!-- <div class="menu"> -->
    <!--   <a href="{{ .Site.BaseUrl }}/">Blog</a> · -->
    <!--   <a href="{{ .Site.BaseUrl }}/">Tools</a> · -->
    <!--   <a href="{{ .Site.BaseUrl }}/">Screencasts</a> · -->
    <!--   <a href="{{ .Site.BaseUrl }}/">Books</a> · -->
    <!--   <a href="{{ .Site.BaseUrl }}/">Talks</a> · -->
    <!--   <a href="{{ .Site.BaseUrl }}/">About</a> -->
    <!-- </div> -->

  </div>
</div>
