html {
  font-family: "Lato", sans-serif
}

.btn {
  position: relative;
  font-weight: 400;
  padding: 0.75em 2em;
  white-space: normal;
  background: #ea5343;
  border-radius: 1000px;
  font-size: 1.25em;
  color: #FFF;
  text-transform: uppercase;
}

.content {
  padding-top: 2em;
}

.content h1 {
  font-size: 2em;
}

.label {
  font-size: 0.6em;
}

.theme-base-0d .topbar {
  background-color: #2e3840;
}

.topbar {
  position: relative;
  padding: 3em 0 6em 0;
  background: url("/images/cover.jpg");
  background-size: cover;
  zoom: 1;
  width: 100%;
  overflow: hidden;
}

.topbar a {
  color: #3DB3E6;
  color: #FFF;
}

.topbar .color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 90 ")";
  filter: alpha(opacity=90);
  zoom: 1;
  background: #2e3840;
}

.topbar .container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 1em;
  max-width: 64em;
  text-align: center;
}

.topbar .title h1 {
  font-size: 4em;
  font-weight: 700;
  color: #FFF;
}

.topbar .title h4 {
  color: #FFF;
  font-size: 1.3em;
  font-weight: 300;
  margin: 0.6em 0 1.5em;
}

.topbar .separator {
  /* color: #FFF; */
}

.topbar {
  border-top: 5px solid;
  border-color: #ea5343;
}

.topbar-small {
  padding: 0 0 2em 0;
}

.topbar-small .title h1 {
  font-size: 3em;
}

.menu {
  color: #FFF;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin-bottom: 20px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 38em) {
  .topbar .title h1 {
    font-size: 3em;
  }
}
